name: Build, Push, and Deploy to GCE

on:
  push:
    branches: 
    - main
    - release/v\d+\.\d+\.\d+ # release/v1.0.0

env:
  PROJECT_ID: devops-practice

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Set ENV
      run: |-
        if [ ${GITHUB_REF##*/} = "main" ]; then
          echo "ENVIRONMENT=staging" >> $GITHUB_ENV
        else
          echo "ENVIRONMENT=prod" >> $GITHUB_ENV
        fi

    - name: Checkout
      uses: actions/checkout@v3

    # Setup gcloud CLI
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: google-github-actions/auth@v1
      with:
        project_id: ${{ env.PROJECT_ID }}
        credentials_json: ${{ secrets.GCP_SA_CREDENTIALS }}
        
    # Configure Docker to use the glcoud CLI as a credential helper
    - run: |-
        gcloud --quiet auth configure-docker
    
    # Build the Docker image
    - name: Build
      run: |-
        make build
    
    # Push the Docker image to GCR
    - name: Publish
      run: |-
        make push
    
    # Deploy the Docker image to GCE
    - name: Deploy
      run: |-
        make deploy